<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GigBookin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GigBookin.styles.css" asp-append-version="true" />
</head>

<body>

   


    <header class="layout-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white m-0 p-0">
            <div class="container-fluid" style="background-color:#362b25">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="width: 100px" src="~/media/gbbrown.png" alt="Logo" width="100px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="">
                            <a style="color:white; font-family: Montserrat; -webkit-text-stroke: #18130D; text-stroke: #18130D;" class="nav-link" asp-area="" asp-controller="Home"
                               asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Performer"
                               asp-action="Index">Performers</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Home"
                               asp-action="About">About us</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Home"

                               asp-action="Contact">Contact Us</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                         @*    <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Performer" asp-action="Add">Add to Performers Collection</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Performer" asp-action="HiredPerformer">Hired Performers</a>
                            </li> *@
                           
                            @if (User.IsInRole("Admin"))
                            {
                        
                                <li class="nav-item">
                                    <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Performer" asp-action="Add">Add Performer</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Genre"
                                       asp-action="Index">Genres</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Genre" asp-action="Add">Add Genre</a>
                                </li>
                               
                            }
                            @if (!(User?.IsInRole("Admin") ?? false))
                            {
                                <li class="nav-item">
                                    <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Event" asp-action="Index">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Event" asp-action="Add">Add Event</a>
                                </li>
                            }
                           
                           @*  <li class="nav-item">
                                <a style="color:white; font-family: Montserrat;" class="nav-link" asp-area="" asp-controller="Home"
                                   asp-action="Privacy">Privacy</a>
                            </li> *@
                        }
                      
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


        <main role="main">
            @RenderBody()
        </main>


    <footer class="footer">
        <div class="footer__addr">
            <img style="width: 400px" class="footer__logo" src="~/media/gbwhite.png" alt="Logo">
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Media</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Online</a>
                    </li>

                    <li>
                        <a href="#">Print</a>
                    </li>

                    <li>
                        <a href="#">Alternative Ads</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>

                <ul class="nav__ul nav__ul--extra">
                    <li>
                        <a href="#">Hardware Design</a>
                    </li>

                    <li>
                        <a href="#">Software Design</a>
                    </li>

                    <li>
                        <a href="#">Digital Signage</a>
                    </li>


                    <li>
                        <a href="#">Automation</a>
                    </li>

                    <li>
                        <a href="#">Artificial Intelligence</a>
                    </li>

                    <li>
                        <a href="#">IoT</a>
                    </li>

                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">Legal</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#">Terms of Use</a>
                    </li>

                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2024 GigBookiN'. All rights reserved.</p>

            <div class="legal__links">
                <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
