body {
    background-color: #A27868;
}

.filter-container, .performer-container {
    flex: 1;
    padding: 20px;
}


.performers-container {
  width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    padding: 20px;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 

    .performers-container::-webkit-scrollbar {
        display: none;
    }

.performer-card {
    width: calc(20% - 20px); 
    min-width: 280px;
    margin: 10px 44px; 
    background-color: #4d372f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d2c0ba;
    border-radius: 30px;
    transition: all 0.3s ease;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    flex-shrink: 0; /* Prevent cards from shrinking to fit */
}

.img-container {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    background-color: #a0867b;
}

.performer-card .card-img-top {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.custom-button,
.custom-button2 {
    background-color: #4d372f;
    color: #fff;
    padding: 5px 10px; /* Adjusted padding */
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    font-size: 12px; /* Adjusted font size */
    margin-right: 5px;
}

    .custom-button:last-child,
    .custom-button2:last-child {
        margin-right: 0; /* Remove margin from the last button */
    }


    .custom-button:hover {
        background-color: #634b3b;
    }

    .custom-button2:hover {
        background-color: #8a6450;
    }

.button-container:not(:last-child) {
    margin-right: 10px;
}

.button-container:hover {
    background-color: #fff;
    color: #4d372f;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .performer-card {
        width: calc(50% - 20px); /* Two cards per row */
    }
}

/* Media Query for even smaller screens */
@media only screen and (max-width: 480px) {
    .performer-card {
        width: calc(100% - 20px); /* Single card per row */
    }
}

.performer-card h5 {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 0 0 2px #fff; /* Adjust the spread radius as needed */
    color: #A27868;
    -webkit-text-stroke: 1px #D4A8A8;
    text-stroke: 1px #D4A8A8;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 20px;
  
}
.performer-card p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #D4A8A8;
}