body {
            background-color: #362b25;
        }
.profile-card {
    display: flex;
    align-items: center;
}
.profile-image {
    max-width: 100%;
    height: auto;
}

.profile-info {
    flex: 1; 
}
.card-body {
    width: 80%; 
    max-width: 1000px; 
    height: 60%; 
    max-height: 800px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px;
    margin: 0 auto;
    background-size: cover;
}
.card-horizontal {
    display: flex;
    flex-direction: row;
}

.card-image {
    flex: 1;
    padding: 20px;
    border-radius: 70px;
}

.card-info {
    flex: 2;
    padding: 20px;
}

.card-image img {
    border-radius: 10px;
}

.profile-info p {
    margin-bottom: 0; 
}