@{
    ViewData["Title"] = "About us";
}

<body>
    <div class="container">
        <div class="section">
            <h1>What you should know about us</h1>
            <div class="content">
                <div class="text">
                    <h4>Dynamic Talent, Unforgettable Experiences</h4>
                    <p>Welcome to Gig BookiN', your premier destination for exceptional musical talent and unforgettable entertainment experiences. We specialize in representing dynamic singers and bands who bring their unique sounds to every stage they grace.</p>
                </div>
                <div class="media">
                    <iframe width="560" height="310" src="~/media/jannelvideo.mp4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <div class="media">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="text">
                    <h4>Connecting Audiences, Elevating Events</h4>
                    <p>At Gig BookiN', we excel at connecting audiences with top-tier musical acts for events of all kinds, ranging from corporate functions to music festivals and weddings. With years of industry expertise, we are committed to delivering exceptional service to both clients and performers alike.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <div class="text">
                    <h4>Unwavering Commitment to Excellence</h4>
                    <p>
                        What sets us apart is our unwavering commitment to quality, professionalism, and client satisfaction. We prioritize understanding your specific needs and preferences to ensure a seamless match between artist and event.
                    </p>
                </div>
                <div class="media">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <div class="text">
                    <h4>Founded on Integrity, Fueled by Passion</h4>
                    <p>Our agency is founded on integrity, creativity, and a genuine passion for music. We are dedicated to making your event memorable and bringing your vision to life!</p>
                </div>
                <div class="media">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</body>

