.body {
    margin: 0;
    padding: 0;
}


.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    text-transform: capitalize;
}

    .home .content {
        width: 100%;
        min-height: 100vh;
        background-color: black;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../media/blonde.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       font-family:Montserrat;
 
    }


    .home .title {
        position: relative;
        text-align: center;
        padding-top: 750px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 120px;
        -webkit-text-stroke: 3px #43291F;
        color: transparent;
        background-image: linear-gradient(#E1C591,#E1C591);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-position: -750px 0;
        animation: backcolor 5s linear infinite;
    }

.hire {
    position: relative;
    background-color: #362b25;
    padding: 20px;
    height: 65vh;
}


.container {
    max-width: 1000px; /* Adjusted max-width */
    margin: 0 auto;
    display: flex;
}



.left-section, .right-section {
    width: 50%;
}

.email {
    text-transform: lowercase;
}

h2 {
    color: #362b25;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0 0 5px #E1C591;
    font-family:Cormorant;
}

p {
    -webkit-text-fill-color: #362b25;
    font-size: 18px;
    line-height: 1.6;
    -webkit-text-stroke: #E1C591;
}


iframe {
    width: 100%; /* Adjusted width */
    height: 300px; /* Adjusted height */
}

.left-section {
   
    padding: 20px;
    border-radius: 10px;
   
    margin-right: 10px;
}

.container > .right-section {
    margin-left: 20px;
}
