  @{
    ViewData["Title"] = "Home Page";
}
<body>
    <!-- home page start -->

    <section class="home" id="home">
        <div class="content">

            <h1 class="title" style="font-family:Montserrat;">Gig BookiN'</h1>


        </div>
    </section>
    
    <div class="hire">
        
            <div class="left-section" >
                <h2>UNLEASH THE MAGIC
                    OF THE NIGHT!!!</h2>
                <p style="font-size:22px;">
                    <b style="font-family: Cormorant;-webkit-text-fill-color: #EAE0CC ;-webkit-text-stroke-color:#E1C591; font-size:22px; font-weight:300;text-transform:none;">Elevate your events, parties, and special occasions to celestial heights! We understand that every gathering deserves a touch of brilliance, and that's why we offer you the opportunity to hire the star of your night!</b>
                </p>
                
             
            </div>
            <div class="right-section">
                <img src="~/media/homelux.png" alt="Luxpic" width="600" height="400" style="border:0;">
            </div>
       
    </div>
    <div class="background-sectio">
        <!-- Content of the section with background image -->
    </div>

    <div class="background-section">
        <!-- Content of the section with background image -->
    </div>
    <div class="choco">
        <!-- Content of the section with background image -->
    </div>
    <div class="background-sectionn">
        <!-- Content of the section with background image -->
    </div>


    <!-- home page end -->

</body>

 