@model GigBookin.Models.RemoveGenreViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Remove Genre</title>
    <!-- Add your necessary CSS and other meta tags here -->
</head>
<body style="background-color:#5d5047;">
    <!-- Set the background color of the whole page -->

    <div class="container mt-4" style="text-transform:uppercase;">
        <div class="card p-5" style="margin-bottom:25px;background-color:#362b25; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 10px; ">
            <!-- Added card class for box-like appearance -->
            <h1 style="color:white; text-transform:uppercase;"><b>Remove Genre</b></h1>

            <form method="post" action="Delete" class="mt-5">
                <div class="mb-3">
                    <label for="name" class="form-label" style="color:white;"><b>Title</b></label>
                    <input type="text" id="name" class="form-control rounded-pill" asp-for="Name">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label" style="color:white;"><b>Description</b></label>
                    <input type="text" id="description" class="form-control rounded-pill" asp-for="Description">
                </div>


               
                <div class="button-container">
                    <span class="button1" style="margin-bottom:15px;">
                        <button type="submit" class="btn custom-button" style="text-transform:uppercase;background-color:#5d5047;; color:#362b25; font-weight:bold;">Back</button>
                    </span>

                    <span class="button2" style="margin-right:20px;margin-bottom:15px;">
                        <form asp-action="Remove" asp-controller="Genre">
                            <button type="submit" class="btn custom-button2" style="text-transform:uppercase; background-color:#5d5047;color:#362b25; font-weight:bold;">Remove</button>
                        </form>
                    </span>
                </div>

            </form>
        </div>
    </div>

</body>
</html>
